.App {
  text-align: center;
}

body {
  background-color: #f5f5dc;
}

.boxes {
  margin-top: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outputs{
  display: flex;
  align-items: center;
  justify-content: center;
}

.outputs button {
  margin-right: 20px;
  width: 200px;
  height: 60px;
}
